* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-font: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    --info-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --font-size-5: 2.074rem;
    --font-size-4: 1.728rem;
    --font-size-3: 1.44rem;
    --font-size-2: 1.2rem;
    --font-size-1: 1rem;
    --font-size-0: 0.833rem;

    --book-width: 50px;
}

body {
    background-color: skyblue;
    padding: 2vh;
}

#header {
    padding: 1vh 1vw;

    display: grid;
    grid-template-columns: 1fr 3fr;

    h1 {
        font-family: var(--title-font);
        font-size: var(--font-size-5);
        font-weight: bolder;
    }

    form {
        font-family: var(--info-font);
        font-size: var(--font-size-1);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "title title author author"
        "pages read  submit submit";
        column-gap: 1vw;
        row-gap: 0.5vh;

        & div {
            display: flex;
            gap: 2ch;
            
            & input {
                width: 100%;
            }
        }

        & #title {
            grid-area: title;
        }

        & #author {
            grid-area: author;
        }

        & #pages {
            grid-area: pages;
            text-align: right;
        }

        & #read {
            grid-area: read;
        }

        & #submit {
            grid-area: submit;
        }
    }
}

#library {
    height: 100%;
    width: 100%;
    padding: 20px;

    background-color: rgb(150, 111, 51); /* wood */

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--book-width));
    align-items: end;
    row-gap: 20px;
}

.book {
    width: var(--book-width);
    height: auto;

    padding: 2vh 0.5vw 2vh 0.5vw;
    border: 1px solid black;

    display: grid;
    gap: 10px;
    align-content: center;

    .title, .author {
        font-family: var(--title-font);
        line-height: 100%;
        writing-mode: vertical-lr;
        align-content: center;
    }

    .title {
        font-size: var(--font-size-3);
        font-weight: bolder;
    }
    
    .author {
        font-size: var(--font-size-1);
        font-weight: bold;
    }

    .pages, .read {
        font-family: var(--info-font);
        font-size: var(--font-size-0);
        font-weight: bold;
        text-align: center;
    }

    .read {
        height: calc(var(--font-size-0) * 2);
    }
}